{% extends "base.html" %}
{% block content %}
    <a href="{% url 'single_project' project.id %}">
        <button class="btn btn-primary">Back</button>
    </a>
    <br><br>
    <h2>{{project.title}} - {{title}}</h2>
    <br>
    <form action="/{{form_action}}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="new_branch">Branch name</label><br>
        <input type="text" name="new_branch" id="new_branch" value="{{input_value}}">
    </fieldset>
        <br>
    {% if input_value == '' %}
        <input type="submit" value="Add" class="btn btn-success">
    {% else %}
        <input type="submit" value="Change" class="btn btn-warning">
    {% endif %}
    </form>
{% endblock %}