{% extends "base.html" %}
{% block content %}
    <h1>{{ branch.name }}</h1>

    <h6>
        <a href="{% url 'commits' branch.id %}">
            {{branch.commit_set.all|length}} commits
        </a>
    </h6>

    <br>

    <ul class="list-group">
        {% for file in branch.file_set.all %}
        <li class="list-group-item">
            {{file.title}}
            <a href="{% url 'edit_file' file.id %}">
                <button class="btn btn-warning">Edit</button>
            </a>
            <a href="{% url 'delete_file' file.id %}">
                <button class="btn btn-danger">Delete</button>
            </a>
        </li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'add_file' branch.id %}">
        <button class="btn btn-success">Add file</button>
    </a>
{% endblock %}