{% extends "base.html" %}
{% block content %}
    <a href="{% url 'single_branch' branch.id %}">
        <button class="btn btn-primary">Back</button>
    </a>
    <br><br>

    <h3>All commits for {{branch.name}}</h3>

    <br>

    {% for commit in commits %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>{{commit.log_message}}</h5>
              <small>{{commit.date_time}}</small>
            </div>
            <p class="mb-1">by {{commit.committer}}</p>
        </a>
    </div>
    {% endfor %}

{% endblock %}