{% extends "base.html" %}
{% block content %}
    <a href="{% url 'single_branch' branch.id %}">
        <button class="btn btn-primary">Back</button>
    </a>
    <br><br>
    <form action="/{{form_action}}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="new_title">Name</label><br>
        <input type="text" name="new_title" id="new_title" class="form-control" value="{{file_title}}" required
            {% if not can_edit %} disabled {% endif %}/>
        <br><br>
        <label for="new_text">Content</label><br>
        <textarea name="new_text" id="new_text" class="form-control"
            {% if not can_edit %} disabled {% endif %}>{{file_text}}</textarea>
    </fieldset>
    {% if can_edit %}
            <br>
        {% if file_title == '' %}
            <input type="submit" value="Add" class="btn btn-success">
        {% else %}
            <input type="submit" value="Change" class="btn btn-warning">
        {% endif %}
    {% endif %}
    </form>
{% endblock %}