{% extends "base.html" %}
{% block content %}
    <h1>{{ title }}</h1>

    <br>
    <div>
        <a href="{% url 'issues' project_id 'OPEN' %}">
            <button class="btn btn-primary">OPEN</button>
        </a>
        <a href="{% url 'issues' project_id 'CLOSED' %}">
            <button class="btn btn-secondary">CLOSED</button>
        </a>
    </div>
    <br><br>
    <ul class="list-group">
    {% for issue in issues %}
        <li class="list-group-item">
            {{issue.title}}
            {% if can_edit %}
                {% if issue.state == 'OPEN' %}
                <a>
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a>
                    <button class="btn btn-danger">Close</button>
                </a>
                {% else %}
                <a>
                    <button class="btn btn-info">Reopen</button>
                </a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <br>
    {% if can_edit %}
    <a>
        <button class="btn btn-success">Add issue</button>
    </a>
    {% endif %}

{% endblock %}