{% extends "base.html" %}
{% block content %}
    <h1>{{ project.title }}</h1>
    <div>
        {% if starred %}
        <a href="{% url 'remove_starred' project.id %}">
            <button class="btn btn-info">Unstar</button>
        </a>
        {% else %}
        <a href="{% url 'add_starred' project.id %}">
            <button class="btn btn-info">Star</button>
        </a>
        {% endif %}

        {% if watched %}
        <a href="{% url 'remove_watched' project.id %}">
            <button class="btn btn-info">Unwatch</button>
        </a>
        {% else %}
        <a href="{% url 'add_watched' project.id %}">
            <button class="btn btn-info">Watch</button>
        </a>
        {% endif %}

        {% if can_fork %}
        <a href="{% url 'fork' project.id %}">
            <button class="btn btn-info">Fork</button>
        </a>
        {% endif %}

        <a class="ms-5" href="{% url 'milestones' project.id 'OPEN' %}">
            <button class="btn btn-secondary">Milestones</button>
        </a>
    </div>
    <br>
    <ul class="list-group">
    {% for branch in project.branch_set.all %}
        <li class="list-group-item">
            <a href="{% url 'single_branch' branch.id %}">{{ branch.name }}</a>
            {% if not can_fork %}
                <a href="{% url 'edit_branch' branch.id %}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a href="{% url 'delete_branch' branch.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% if not can_fork %}
        <br>
        <a href="{% url 'add_branch' project.id %}">
            <button class="btn btn-success">Add branch</button>
        </a>
    {% endif %}

{% endblock %}