{% extends "base.html" %}
{% block content %}
    <h1>{{ project.title }}</h1>
    {% block proba %}
    <div>
        {% if starred %}
        <a href="{% url 'remove_starred' project.id %}">
            <button class="btn btn-info">Unstar</button>
        </a>
        {% else %}
        <a href="{% url 'add_starred' project.id %}">
            <button class="btn btn-info">Star</button>
        </a>
        {% endif %}

        {% if watched %}
        <a href="{% url 'remove_watched' project.id %}">
            <button class="btn btn-info">Unwatch</button>
        </a>
        {% else %}
        <a href="{% url 'add_watched' project.id %}">
            <button class="btn btn-info">Watch</button>
        </a>
        {% endif %}

        <button class="btn btn-info">Fork</button>
    </div>
    <br>
    <ul class="list-group">
    {% for branch in project.branch_set.all %}
        <li class="list-group-item">
            <a href="{% url 'single_branch' project.id branch.id %}">{{ branch.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <br>

    <a href="{% url 'add_branch' project.id %}"><button>Add branch</button></a>
    {% endblock %}
{% endblock %}