.error {
    color: red
}

.left {
  margin: 0px;
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid black;
}

.base-link {
  margin-top: 10%;
}

.header, .footer{
  background-color: lightblue;
  clear: left;
  width:100%;
  border: solid black 1px;
}

.center{
 margin-top: 5%;
 margin-bottom: 5%;
 overflow: auto;
}


.page{
  text-align: center;
  width: 100%;
  min-width: 60%;
  min-height: 60%;
  height: 90%;
}

table{
  margin: 0 auto;
}

.label{
 clear: left;
}
